body {
    margin: 0;
    background-image: radial-gradient(ellipse, #000000 60%, #4a4a4a);
    height: 100vh;
}

p {
    margin: 0;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border: 1px solid rgb(73, 73, 73);
    border-spacing: 0;
    background-color: #282828;
    color: rgb(210, 210, 210);
}

th {
    border: 1px solid rgb(128, 128, 128);
}

tr {
    border: 1px solid rgb(128, 128, 128);
}

td {
    border: 1px solid rgb(128, 128, 128);
}

/*Навигация*/
.navbar {
    display: flex;
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 4rem;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(15px);
}

.navbar__content-wrapper {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar__links-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;

}

/*Заголовки*/
h1 {
    margin-bottom: 5rem;
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
}

/*Кнопки*/
.link-btn {
    display: flex;
    background-color: #104b85;
    color: white;
    text-decoration-line: none;
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #000000;

    transition: transform 0.3s;
}

.link-btn:hover {
    display: flex;
    background-color: #1976d2;
    color: rgb(216, 216, 216);
    text-decoration-line: none;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #000000;

    transform: scale(1.1) rotate(3deg);
    animation-name: btn-hover;
    animation-duration: 0.3s;
}

.link-btn:active {
    display: flex;
    background-color: #1976d2;
    color: rgb(216, 216, 216);
    text-decoration-line: none;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #000000 inset;
}

/*Формы и их состовляющие*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: #000000;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px 0px #000000;
    gap: 1rem;
    background-color: #2e003b;
    box-shadow: 0px 0px 20px 0px #ffffff;
}

/*Обёртки*/
.main-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
}

.obj-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.wrapper-content-centered {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input__password-type {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}

/*Карточки объектов*/
.obj-card {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background-color: #4d6328;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px #000000;

    transition: transform 0.3s;
}

.obj-card:hover {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background-color: rgb(84, 103, 55);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px #000000;

    transform: scale(1.05);
}

.obj-card__detailed {   
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #4a533a;
    border-radius: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*Позиционирование*/
.position__absolute_top-left {
    position: absolute;
    top: 5rem;
    left: 0%;
}

.position__relative {
    position: relative;
}

.position__absolute {
    position: absolute;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.mrg-horizon-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.mrg-horizon-left {
    display: flex;
    margin-right: auto;
}

.justify-content__space-between {
    justify-content: space-between;
}

/*Таблицы*/
.tr__alt {
    background-color: #4d6328;
}

.tables__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.table__com {
    display: none;
}

.table__act {
    display: table;
}

/* Анимации */
@keyframes btn-hover {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1.1) rotate(3deg);
    }
}

@keyframes obj-card {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}